body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background: #f6f6f6;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  padding: 0 20px;
  align-items: flex-start;
}

/*nav*/
.header {
  background: #e8d5cf;
  padding: 18px 0;
}

.nav {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav h1 {
  letter-spacing: 6px;
  font-weight: 600;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-links a:hover {
  color: black;
}

/*Produkt layout*/
.product-gallery {
  flex: 0 0 auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 12px;
  background: white;
  padding: 15px;
  transition: transform 0.3s ease;
}

.main-image:hover {
  transform: scale(1.02);
}

.thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.thumbnails img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.2s;
  margin-right: 10px;
}

.thumbnails img:hover,
.thumbnails img.active {
  border-color: #333;
}

.product-info {
  flex: 1;
}

.product-info h2 {
  font-size: 32px;
  margin: 10px;
}

.price {
  font-size: 26px;
  font-weight: 600;
  margin: 10px 0 20px 0;
}

.description {
  line-height: 1.6;
  font-weight: 600;
  margin-bottom: 10px 0 20px 0;
}

/*Knapp*/
.buy-btn {
  width: 100%;
  padding: 16px;
  background: #333;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 20px;
}

.buy-btn:hover {
  background: black;
  transform: translateY(-2px);
}

/*info box*/
.info-box {
  margin-top: 15px;
  border-top: 1px solid #ddd;
  padding: 15px 0;
  font-weight: 500;
  cursor: pointer;
}

.footer {
  text-align: center;
  padding: 30px;
  margin-top: 50px;
  background: #eee;
}

/*Mobil*/
@media (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .product-gallery,
  .product-info {
    width: 100%;
  }

  .thumbnails {
    justify-content: center;
  }
}
